.myBG {
    height: 90vh;
    background: url("../assets/images/bg/bioskop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.myBG::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;

}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px blue;
    letter-spacing: 4px;
}

@media(max-width: 758px){
    .intro {
        height: 300px;
    }
    .title {
        font-size: 2rem;
        color: rgb(34, 0, 156);
        text-shadow: 2px 2px rgb(147, 221, 0);
    }
}

.trendingku{
    height: 100vh;
    background: rgb(0, 0, 0);
}

.trendingku h1{
    display: flex;
    justify-content: center;
    color: aliceblue;
}
  